
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #f7f7f7;
}

/* This class is defining the
styling for a grid container. */
.testimonial-gridy {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
text-align: left;
}

/* This class is defining the styling
for the container element that holds each
testimonial in a testimonial grid. */
.testimonial-containery {
background-color: #ffffff;
border-radius: 12px;
padding: 30px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* This class is defining the
styling for the avatar image */
.testimonial-avatary {
width: 60px;
height: 60px;
border-radius: 50%;
overflow: hidden;
margin: 0 0 20px;
}

.testimonial-avatary img {
width: 100%;
height: 100%;
object-fit: cover;
}

.testimonial-text {
margin-bottom: 20px;
}

.testimonial-txt {
color: #647F9C;
font-family: 'Inter', sans-serif;
font-size: 14px;
line-height: 1.875;
font-weight: 300;
}

.testimonial-namey {
color: #0D1420;
font-family: 'Inter', sans-serif;
font-size: 16px;
line-height: 1.375;
font-weight: 500;
}

.testimonial-role {
font-size: 16px;
color: #666666;
}

/* This media query in CSS that targets
screens with a maximum width of 600 pixels. */
@media screen and (max-width: 600px) {
.testimonial-gridy {
grid-template-columns: 1fr;
}
}

